@media only screen and (max-width:990px){}


@media only screen and (max-width:768px){
    .btn-email{
       display: none;
    }
    .slider-text{
        margin: auto;
        padding: 50px 0;
    }
    .iconic{
        display: flex;
        flex-flow: column;
        align-items: center;
        border: 3px solid red;
        height: 150px;
        justify-content: center;
        text-decoration: none;
        color: #FD0F15;
        transition: all .1s ease-in-out;
        box-shadow: 0 5px 10px #ebebeb;
        font-size: 20px;
    }
    .leaderimg{
        flex-direction: column;
    }
    .top-news{
        height: 35vh;
    }
    .col-md-2{
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}



@media only screen and (max-width:450px){
    .slider-text{
        margin: auto;
        padding: 10px 0;
    }
    
    .iconic{
        margin:10px;
    }
}

